/*
    comentarios
*/

/*
    📣-----CSS-----
    Es definido como un lenguaje de estilos caracterizados por su estension: 
    .css (Cascading Style Sheet) 
    Una finalidad necesaria para definir las presentaciones del doctype hacia
    una diversidad de interecciones de los estilos visuales.
    -> Definidos por su sintaxis:
    .#Elemento-html { 
        Atributo: Valor 
    }
    
    1º Estilos de referencia directa a una etiqueta
                ⬇️           ⬇️          ⬇️
    etiqueta{
        atributo: Valor
    }
*/

div {
    text-align: center;
    margin: 0 auto;
}

/*
        2º Estilos de referencia directa sumativa +
    con la grafia (,)
    Sintaxis:
etiqueta1, etiqueta2, etiqueta3,...., etiqueta n{
    atributos: valor
} 

*/

h1,

h3,
h4,
h5,
h6 {
    color: slategray;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    border: 1px solid black;
    /*
        Resumen de un atributo
        Ejemplo: 
        border: 1px solid black;
        te comprime las acciones en el atributo general 
        sin necesidad de llamar a los especificos 
        border-size
        border-style
        border-color

    */
}

/*
        3º Conecxion Standar

    Con la palicacion de los atributos denominados clase.
    Referenciados en el doctype llamado class & refecenciado 
    en la hoja de estilos con el punto (.) que es llamado
    selector.
    Sintaxis:
    .NombredeReferencia{
        atributo:Valor
    }
    */
.colorParrafo {
    color: green;
    font-weight: bold;
    text-align: justify;
}

/*
        4º conecxion directa o agujero de gusano

    denominado identificador en referencia al docktype 
    definido por id="" & referenciado en la hoja de 
    estilo con un hastag (#)
    Sintaxis:
    #NombredeReferencia{
        atributo:Valor
    }
*/

#p1 {
    background-color: blanchedalmond;
    font-size: larger;
    font-style: italic;
}

/*
        5º condiciones sencillas
    Entendidas como asociaciones de elemento o etiqueta-
    Sintaxis:
    Etiqueta.NombredeReferencia{
        atributo:Valor
    }  
*/
p.amarillo {
    /*
    busca alli donde hay una etiqueta de parrafo 
    y si tiene la clase amarillo ajecuta el estilo
    */
    color: yellow;
    font-weight: bold;
    font-size: xx-large;
}

/*
configuracion de tabla 
*/

table,
th,
td {
    text-align: center;
    margin: 0 auto;
    border: 2px solid skyblue;
    /*
    CSS3, el border, llamando a 3 atributos seguidos por un espacio:
    border: Tamaño del borde.
    border.style: solid.
    border.color: skyblue.
    */
    border-collapse: collapse;
    /*
        border-collapse ,digamos que colapsa las dobles lineas de la tabla
    */
}

hr {
    width: 50%;
}