nav {
    margin: 0 auto;
    width: 460px;
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

p {
    background-color: #ece5da;
    font-family: monospace;
    text-align: justify;
    font-size: large;
}

ul {
    list-style: none;
}

li a {
    color: #238cf5;
}

span {
    font-size: 50px;
    color: white;
    padding: 16px;
    background-color: #68aacc;
    /* 
        En construcciones en horizontal tendremos un atributo, el display 
        es util cuando tenemos varios elementos y queremos que bloque o 
        en linea
    */
    display: block;
}

#tocar {
    /* 
        la opacidad fecinida en el rango de 0 a 1, entendiendo 
        opacidad maxima el 0 y opacidad minima el 1 
    */
    opacity: 0;
}

.deslizar {
    list-style: none;
    width: 100%;
    height: 0px;
    /* 
        Recortar contenido de visualizacion no de atributo overflow
    */
    overflow: hidden;
}

.deslizar li {
    padding: 12px;
    font-size: large;
    text-align: center;

}

/*      Llamamos a la puerta de CSS3 
    generamos una oracion de estilos
    IMPORTANTE:
    Recordar el comcepto de atributo y valor
    entendidos omo elementos separados por ":".
*/

#tocar:checked+.deslizar{
    
   
    height: 100%;
}